<div>
    <p ng-show="!hasAssociatedArtists">You don't have an artists yet.  Create one now!</p>
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <div layout="column" layout-align="center">
                <md-select ng-model="selectedArtistId" placeholder="Select an Artist">
                    <md-option ng-value="artist.artistId" ng-repeat="artist in associatedArtists" ng-class="theme.class">{{artist.artistName }}</md-option>
                </md-select>
                <em>OR</em>
                <md-button class="md-primary md-raised" ng-click="showAdvanced($event)"  flex="100"  flex-gt-md="auto"> Create An Artist
                </md-button>
                <br/>
            </div>

        </div>
    </div>
</div>