<div class="section">
    <div class="row text-center">
        <img src="img/logo-white-lg.png" alt="sparrow music"/>
    </div>
    <div class="row text-center" style="color:white; font-size: x-large">
        Sparrow Music.
    </div>
</div>
<p ng-show="showFailedMessage" style="color:red;">Invalid email/password</p>
<div class="modal-dialog">
    <div class="loginmodal-container">
        <form class="form-group">
            <input type="text" ng-model="creds.email" placeholder="Email"/>
            <input type="password" ng-model="creds.password" placeholder="Password"/>
                <label>remember me</label>
            <input type="checkbox" ng-model="creds.rememberMe"/><br/>
            <input type="submit" class="login loginmodal-submit" ng-click="login(creds)" value="Login" ng-focus=""/>
        </form>
        <div class="login-help">
            <a class="edit text-white" ui-sref="register">register</a><br/>
            <a class="edit text-white" ui-sref="forgotPassword">forgot my password</a>
        </div>
    </div>
</div>
