<md-content layout-align="center center" layout-padding style="background-color:#6C3C56">
    <div layout="row" layout-align="center">
        <div layout="column" layout-align="center">
            <img src="img/logo-white-lg.png" height="50" width="50"/>
            <div layout="row" layout-align="center">
                <h2 style="color:white">sparrow.</h2>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center" >
        <div layout="column" layout-padding md-whiteframe="2" style="width:500px;">
            <md-input-container >
                <label>Email</label>
                <input ng-model="creds.email">
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input ng-model="creds.password" type="password">
            </md-input-container>
            <md-button ng-click="login(creds)" class="md-raised md-primary">Login</md-button>
            <div flex-xs flex="50">
                <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                    Checkbox 1: {{ data.cb1 }}
                </md-checkbox>
            </div>
            <a class="login-help edit text-white" ui-sref="register">register</a>
            <a class="login-help edit text-white" ui-sref="forgotPassword">forgot my password</a>
        </div>

    </div>
</md-content>
<!--style="background-color: #363845"-->