<section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-indigo" layout="row">
            <h1 class="md-toolbar-tools">sparrow.</h1>
        </md-toolbar>
        <md-content layout="column" layout-padding ng-controller="menuController as cntrl">
            <md-autocomplete md-items="result in results" md-item-text="result.artistName" md-no-cache="false" md-search-text="searchTerm" md-search-text-change="search(searchTerm)" placeholder="Search Artists">
                <md-item-template ng-click="goArtist(result.artistId)">
                    <span md-highlight-text="searchTerm" >{{result.artistName}}</span>
                </md-item-template>
                <md-not-found>
                    No matches found.
                </md-not-found>
            </md-autocomplete>
            <md-button ng-click="goDiscover()" class="md-primary">
                Discover
            </md-button>
            <md-button ng-click="goEvents()" class="md-primary">
                Events
            </md-button>
            <md-button ng-click="showAdvanced($event)" class="md-primary">
                Create An Artist
            </md-button>
            <md-select ng-model="selectedArtistId" placeholder="My Artists">
                <md-option ng-value="artist.artistId" ng-repeat="artist in associatedArtists" ng-class="theme.class">{{artist.artistName }}</md-option>
            </md-select>
        </md-content>
    </md-sidenav>
    <md-content flex layout="column" md-swipe-right="toggleLeft()">
        <md-toolbar layout="row">
            <div class="md-toolbar-tools" layout="row">
                <div layout="row" layout-align="left" flex="50">
                    <md-button ng-click="toggleLeft()"><md-icon class="material-icon md-48">menu</md-icon></md-button>
                </div>
                <div layout="row" layout-align="end" flex="50">
                    <md-button ng-click="showUserBulliten()">
                        <img src="img/logo-white-sm.png" width="45px" height="45px"/>
                        <!--md-icon class="material-icon md-48">mode_comment</md-icon-->
                        <md-badge ng-if="followed.bulliten.length > 0">{{followed.bulliten.length}}</md-badge>
                    </md-button>
                </div>



                <!--md-button aria-label="Go Back" ng-click="toggleLeft()">
                    Go Back
                </md-button>
                <h2>
                    <span>Toolbar with Standard Buttons</span>
                </h2>
                <span flex></span>
                <md-button class="md-raised" aria-label="Learn More">
                    Learn More
                </md-button>
                <md-button class="md-fab md-mini" aria-label="Favorite">
                    <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                </md-button-->
            </div>
        </md-toolbar>
        <ui-view></ui-view>
    </md-content>

    <md-toolbar layout="row" id="footer">
        <div flex="33" layout="row">
            <!--md-icon class="material-icons" ng-class="md-18">fast_rewind</md-icon-->
            <md-icon class="material-icons md-48 clickable" ng-click="player.play()" ng-show="!player.playing">play_arrow</md-icon>
            <md-icon class="material-icons md-48 clickable" ng-click="player.pause()" ng-hide="!player.playing">pause</md-icon>
            <md-icon class="material-icons md-18 clickable" ng-click="player.next()">fast_forward</md-icon>
        </div>
        <div class="column" flex="33" class="btn-filter">
            <md-button class="md-fab" aria-label="Eat cake" ng-click="showFilterBottom()" style="bottom:25px;" ng-show="statePlayer">
                <md-icon md-svg-src="img/svg/filter18.svg" ></md-icon>
            </md-button>
            <md-button class="md-fab" aria-label="Eat cake" ng-click="followArtist()" style="bottom:25px;" ng-show="stateArtistFavorite">
                <md-icon class="material-icon">favorite_border</md-icon>
            </md-button>
            <md-button class="md-fab" aria-label="Eat cake" ng-click="unFollowArtist()"  style="bottom:25px;" ng-show="stateArtistUnFavorite">
                <md-icon class="material-icon" style="color:#D94551">favorite</md-icon>
            </md-button>
            <md-button class="md-fab" aria-label="Eat cake" ng-click="showArtistBulliten()" style="bottom:25px; color:red" ng-show="stateArtistBulliten">
                <md-icon class="material-icon" >mode_comment</md-icon>
            </md-button>
        </div>
        <div layout="column" flex="33" layout-align="left">
            <div layout="row">
                <div layout="column" flex-lt-lg="66" flex>
                    <span class="md-caption">{{player.trackName()}}</span>
                    <span class="md-caption md-accent" style="font-size: 16px">{{player.artistName()}}</span>
                </div>
                <div layout="column" flex="33" hide-xs>
                    <img class="track-image" ng-src="{{player.image()}}" ng-show="player.playing" height="75px" width="75px"/>
                </div>
            </div>
        </div>
    </md-toolbar>
</section>
<div id="loadingDiv" ng-show="loading">

</div>
<div id="loadingSpinner" layout="row" ng-show="loading" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate" id="" md-diameter="200"></md-progress-circular>
</div>
