<md-toolbar>
    <md-button ng-click="toggleLeft()"
               class="md-primary" hide-gt-md>
        Toggle left
    </md-button>
</md-toolbar>
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">sparrow.</h1>
    </md-toolbar>
    <md-content layout-padding ng-controller="menuController as cntrl">
        <md-autocomplete md-items="result in results" md-item-text="result.artistName" md-no-cache="false" md-search-text="searchTerm" md-search-text-change="search(searchTerm)"></md-autocomplete>
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
            Discover
        </md-button>
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
            Close Sidenav Left
        </md-button>
        <p hide-md show-gt-md>
            This sidenav is locked open on your device. To go back to the default behavior,
            narrow your display.
        </p>
    </md-content>
</md-sidenav>
<md-content flex-lt-lg="66">
    <ui-view></ui-view>
</md-content>


<md-toolbar layout="row" id="footer">
    <div layout="column" flex="33">
        <div layout="row">
            <div layout="column" flex="33">
                <md-button class="md-icon-button" aria-label="More">
                    <md-icon md-svg-icon="img/svg/rewind26.svg"></md-icon>
                </md-button>
            </div>
            <div layout="column" flex="33">
                <md-button class="md-icon-button" aria-label="Play" ng-click="player.play()" ng-show="!player.playing">
                    <md-icon md-svg-icon="img/svg/music253.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Play" ng-click="player.pause()" ng-show="player.playing">
                    <md-icon md-svg-icon="img/svg/pause52.svg"></md-icon>
                </md-button>
            </div>
            <div layout="column" flex="33">
                <md-button class="md-icon-button" aria-label="Play"  ng-click="player.next()">
                    <md-icon md-svg-icon="img/svg/fast19.svg"></md-icon>
                </md-button>
            </div>
        </div>
    </div>
    <div class="column" flex="33" class="btn-filter">
        <md-button class="md-fab" aria-label="Eat cake" ng-click="showFilterBottom()">
            <md-icon md-svg-src="img/svg/filter18.svg"></md-icon>
        </md-button>
    </div>
    <div layout="column" flex="33" class="text-left">
        <div layout="row">
            <div layout="column" flex="100" class="track-description">
                <span class="md-caption">{{player.trackName()}}</span>
                <span class="md-caption md-accent">{{player.artistName()}}</span>
            </div>
            <div layout="column" flex="33">
                <img class="track-image" ng-src="{{player.image()}}" height="40px" width="40px"/>
            </div>
        </div>
    </div>
</md-toolbar>
