<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Bulliten</h2>
                <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon class="material-icon" style="color:white">close</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-dialog-content flex layout-padding layout="column">
    <h4>A bulliten displays for each of your followers one time.  That's it!  You can only post one bulliten every 24 hours.  Choose your words wisely!</h4>
    <textarea ng-model="bulliten" name="Text1" cols="40" rows="5" ></textarea>
</md-dialog-content>
<md-dialog-actions layout="row">
    <md-button ng-click="create(bulliten)">
        Create
    </md-button>
</md-dialog-actions>