<md-bottom-sheet class="md-list md-has-header" id="filterFooter" ng-cloak height="100px">
    <md-list ng-show="!popularityShow && !genreShow && !releaseDateShow && !locationShow" layout="row" layout-align="center" class="slideInOut">
        <md-button class="md-icon-button" aria-label="Genres" ng-click="showGenres()">
            <md-icon class="material-icons" ng-class="md-48">headset</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Release Date" ng-click="showReleaseDate()">
            <md-icon class="material-icons" ng-class="md-48">date_range</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Popularity" ng-click="showPopularity()">
            <md-icon class="material-icons" ng-class="md-48">insert_emoticon</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Location" ng-click="showLocation()">
            <md-icon class="material-icons" ng-class="md-48">location_on</md-icon>
        </md-button>
    </md-list>
    <div id="popularityFilter" ng-show="popularityShow" class="slideOutIn">
        <md-button class="md-icon-button" aria-label="return" ng-click="hideSpecificFilter()">
            <md-icon class="material-icons" ng-class="md-48">keyboard_return</md-icon>
        </md-button>
        <md-slider ng-model="playlist.currentFilter.popularity" ng-change="playlist.filter()" round="4" step=".04" min="0" max="1" aria-label="popularity" id="popularity-slider" class>
        </md-slider>
        <h4>Very Popular</h4>
    </div>
    <div id="genreFilter" ng-show="genreShow" class="slideOutIn" layout="row" layout-align="center">
        <md-button class="md-icon-button" aria-label="return" ng-click="hideSpecificFilter()">
            <md-icon class="material-icons" ng-class="md-48">keyboard_return</md-icon>
        </md-button>
        <md-input-container>
            <label>Select your genres</label>
            <md-select ng-model="selectedGenre" multiple="true">
                <md-option ng-value="opt" ng-repeat="genre in filterDisplayGenres" ng-click="selectGenre(genre.genreId)">{{ genre.genre }}</md-option>
            </md-select>
        </md-input-container>
        <md-button ng-click="resetFilter()">
            reset
        </md-button>
    </div>
    <div id="releaseDateFilter" ng-show="releaseDateShow" class="slideOutIn">
        <md-button class="md-icon-button" aria-label="return" ng-click="hideSpecificFilter()">
            <md-icon class="material-icons" ng-class="md-48">back</md-icon>
        </md-button>
        <label>Released On</label>
        <!--<md-select>
            &lt;!&ndash;<md-option ng-model="releaseDate.number" ng-repeat=""&ndash;&gt;
        </md-select>-->
        <md-datepicker md-placeholder="From" ng-model="player.currentFilter.startDate" ng-change="filter.byReleaseDate()"></md-datepicker>
        <md-datepicker md-placeholder="To" ng-model="player.currentFilter.endDate" ng-change="filter.byReleaseDate()"></md-datepicker>
    </div>
    <div id="locationFilter" ng-show="locationShow" class="slideOutIn">
        <md-select ng-model="selectedDistance">
            <md-option ng-value="distance" ng-repeat="distance in distances"> {{distance }}</md-option>
        </md-select>
        <h4> miles from me</h4>
    </div>

</md-bottom-sheet>