<md-dialog aria-label="Create Artist"  ng-cloak>
    <form>
        <div ng-controller="artistFormController">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Create Artist</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content flex layout-padding>
                <div layout="column" class="slide" ng-show="artistNameShow" >
                    <md-input-container>
                        <label>Artist Name</label>
                        <input ng-model="artist.name" type="text">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Postal Code</label>
                        <input name="postalCode" ng-model="user.postalCode"
                               required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                        <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">You must supply a postal code.</div>
                            <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                                code.
                            </div>
                            <div ng-message="md-maxlength" class="my-message">
                                Don't use the long version silly...we don't need to be that specific...
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" ng-show="artistThemeShow" class="slide">
                    <h3>Choose A Theme</h3>
                    <md-select ng-model="artist.theme">
                        <md-option ng-value="theme.class" ng-repeat="theme in themes" ng-class="theme.class">{{theme.color }}</md-option>
                    </md-select>
                </div>
                <div layout="column" class="slide" ng-show="artistImageSelectShow">
                        <md-button class="md-primary md-raised" flex="100">
                            <label for="file-input">Choose Artist Image</label>
                        </md-button>
                        <input id="file-input" type="file" img-cropper-fileread image="cropper.sourceImage">
                        <md-button class="md-raised" flex="100">
                            Not Now
                        </md-button>
                </div>
                <div layout="row" ng-show="artistImageCropShow" class="slide">
                    <canvas width="500" height="300" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="400" crop-height="400" keep-aspect="true" touch-radius="30" crop-area-bounds="bounds"></canvas>
                </div>
                <div layout="column" layout-align="center" ng-show="artistImageCropResultShow" class="slide">
                    <img ng-src="{{cropper.croppedImage}}" flex="grow"/>
                    <md-button class="md-primary md-raised" flex="100" ng-click="goArtistFinalize()">
                        Accept
                    </md-button>
                    <md-button class="md-raised" flex="grow" ng-click="goArtistImageCrop()">
                        Re-Do
                    </md-button>
                </div>
                <div layout="column" layout-align="center" ng-show="artistFinalizeShow" class="slide">
                    <div layout="row" layout-align="center" class="{{artist.theme}}" class="hue">
                        <img ng-src="{{cropper.croppedImage}}" class="artist-profile-img" />
                    </div>
                    <div layout="row" layout-align="center" class="artist-header">
                        <h3>{{artist.name}}</h3>
                    </div>
                    <md-button class="md-primary md-raised" flex="100">
                        Create Artist
                    </md-button>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-click="artistTheme=false; artistName=true" ng-show="artistTheme">
                    Prev
                </md-button>
                <md-button ng-click="artistTheme=false; artistName=true" ng-show="artistTheme">
                    Prev
                </md-button>
                <md-button ng-click="artistImage=false; artistTheme=true" ng-show="artistImage">
                    Prev
                </md-button>
                <span flex></span>
                <md-button class="md-primary md-raised" ng-click="goArtistTheme()" ng-show="artistNameShow">
                    Next
                </md-button>
                <md-button class="md-primary md-raised" ng-click="goArtistImageSelect()" ng-show="artistThemeShow">
                    Next
                </md-button>
                <md-button class="md-primary md-raised" ng-click="goImageCropResult()" ng-show="artistImageCropShow">
                    Crop
                </md-button>
                <md-button ng-click="artistImage=true; artistTheme=false" ng-show="artistTheme">
                    Next
                </md-button>
                <md-button ng-click="answer('useful')" ng-show="artistImage">
                    Create
                </md-button>
            </md-dialog-actions>
        </div>
    </form>
</md-dialog>

                